[Desktop Entry]
Encoding=UTF-8
Name=soundKonverter
Exec=soundkonverter %i -caption "%c"
Icon=soundkonverter
Type=Application
DocPath=soundkonverter/soundkonverter.html
GenericName=A KDE4 Application
Terminal=0

